header {
  width: 100%;
}

nav {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

a:hover {
  color: grey;
}

.left-side > a {
  margin-right: 2rem;
}

.right-side > a {
  margin-left: 2rem;
}
