$blue-primary: #0096ff;
$blue-secondary: #0066ff;
$blue-lighter: #6ac2ff;

$green-primary: #30a64a;
$green-secondary: #164c32;

$orange-primary: #ff9300;
$orange-secondary: #ff4d00;
$orange-lighter: #ffecd2;

$red-primary: #b80c09;
$red-secondary: #750706;
