/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  font-family: Nunito, Helvetica, sans-serif;
  background-image: linear-gradient(55.05deg, #1b2f41 30.42%, #562c4b 77.32%);
  color: #f3f3f3;
}
